 body
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color:#fffff5;
    line-height:1.1
}

.squeezed {
    margin-right: 20%;
    margin-left: 20%;
}

.header {
  z-index: -1;
  padding: 10px 16px;
  background: rgba(0,0,0,0.0);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.column {
  float: left;
  width: 33.33%;
/*  padding: 0px;*/
}

.column50 {
  float: left;
  width: 48%;
  padding: 1%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}